/* header */
header {
    background-image: url(./img/bg1.png);
}

.nav {
    display: flex;
    align-items: center;
    /* vertikal zentrieren */
    padding: 0 20px;
}

.nav a:first-of-type {
    margin-left: auto;
    /* schiebt den ersten Link und alles danach nach rechts */
}

.nav a {
    margin-left: 20px;
    text-decoration: none;
}

.discover_now {
    margin-top: 60px;
    display: flex;

}

/* .discover_text {} */

/* .discover_text h2 {} */

.img_headphone {
    height: 300px;
    /* width: 120px; */
}

/* Core Features */
.core_features {
    background-color: #CDFBF6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.core_features h2 {
    color: red;
}

.core_features strong {
    font-size: 40px;
    text-align: center;
}

.service_icon {
    display: flex;
}

.service_icon figure {
    font-size: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article_wireless {
    background-color: #F7F7F7;
}

.article_wireless figure {
    display: flex;
}

.row_reverse {
    flex-direction: row-reverse;
}

.article_wireless figcaption {
    margin: 32px 32px;
}

.article_wireless figcaption h3 {
    font-size: 40px;
}

.article_wireless figcaption p {
    font-size: 24px;
}

.wheretobuy h2 {
    font-size: 40px;
}

.wheretobuy {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* Überschrift + Adresse mittig */
}

.wheretobuy iframe {
    margin: 80px 0;
    /* Abstand nach oben/unten */
    width: 100%;
}

.wheretobuy span {
    text-align: start;
    padding-left: 32px;
}

footer {
    background-color: #F23D5C;
    display: flex;
    justify-content: space-between;
}
footer span{
    color: white;
    
    padding: 24px 24px;
    font-size: 16px;
   
}

footer div {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    height: 40px;
    margin: 24px 24px;
    
}

